@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --purple: #2a0940;
  --purple-secondary: #47137a;
  --yellow: #eaf205;
  --light-purple: #9757d6;
  --white: #fafafa;
  --grey: #dfdfdf;
  --dark-grey: #eeeeee;
  --darker-grey: rgb(173, 173, 173);
  --black: #31002b;

  --button-bg: var(--grey);
  --button-bg-hover: var(--purple-secondary);
  --button-bg-hover-secondary: var(--dark-grey);
  --button-text: var(--black);
  --button-text-hover: var(--white);
  --button-border: var(--black);

  --background: var(--white);

  --outline: var(--black);

  --ff: "Outfit";
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.graphs {
  display: grid;
  border-radius: 0.8rem;
  grid-template-areas:
    "c c c c c a a a a"
    "c c c c c b b b b"
    "c c c c c b b b b"
    "c c c c c b b b b"
    "d d d d d d d d d"
    "d d d d d d d d d";
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  gap: 1.5rem;
  margin: auto;
  width: 100%;
  scale: 0.85;
}

.graphs-1 {
  padding: 1rem;
  border-radius: 0.8rem;
  grid-area: a;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.graphs-2 {
  padding: 1rem;
  border-radius: 0.8rem;
  grid-area: b;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.graphs-3 {
  padding: 1rem;
  border-radius: 0.8rem;
  grid-area: c;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.graphs-4 {
  padding: 1rem;
  border-radius: 0.8rem;
  grid-area: d;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
